
html { 
  background: url(R3cpQ9R.gif) center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.article1 {
  color: white;
  text-align: center;
  border:solid red;
  background-color: #131216;
}



/*------------------------Menu en css-------------------------*/
.topnav {
  overflow: hidden;
  background-color: #333;
}
#logo {
  width: 50px;
  display: block;
  padding: -10px -14px;
  margin-bottom: -6px;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ed1c24;
  color: black;
}



.topnav a.active {
  background-color: #ed1c24;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*---------------------------------------------------------*/


#pied_de_page {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0%;
  width: 100%;
  background-color: #ED1C24;
  color: white;
  text-decoration: underline; 
  text-align: center;
}

/*------------------------------------------------------*/

.icon-bar {
  position: fixed;
  margin-top: 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .icon-bar {
  position: fixed;
  margin-top: 65%;
  margin-left:0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 13px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

}


/*-------------------------------------------*/



#p1 {
  margin-left: 6%;
  margin-top: -2%;
  color: white;
  text-decoration: none;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #p1 {
  margin-left: 36%;
  margin-top: 5%;
  color: white;
  text-decoration: none;
}

}

a.ex3, a.ex3:visited {
  color: white;
  padding: 5px;
  text-decoration: none;
  border: solid red;
  background-color: #222234;
  border-radius: 14px 14px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 img.img1 {
  margin-left: 14%;
  margin-top: 2%;
  max-width:80%;
  object-fit: scale-down;
}
}

.img1 {
  margin-left: 5%;
  margin-top: -0.5%;
  max-width:30%;
  object-fit: scale-down;
  border: solid red;
  border-radius: 14px 14px;
}