body {
	font-family: 'Titillium Web', sans-serif;
	background-image: url(983377.png);
	background-size: 1920px 1080px;
}

.titre {
	color: white;
	margin-bottom: : 50%;
	text-decoration-color: #910052;
	text-align: center;
	text-shadow: 8px 8px 4px #13073A;
	font-weight: bold;
	font-size: 30px;
	line-height: 24px;
	padding: 25px;
	font-family: Verdana, sans-serif;
	background: #FFF url('space2.jpg') no-repeat scroll top left;
	background-size: 100%;
	border: #FFF solid;
	border-radius:1;
	box-shadow: 0px 4px 1px #13073A;
	 -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

	/*background-color: #FFF;
	background-image: url(123.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top left;*/



/*	text-align: center;
	font-weight: bold;
	font-size: 35px;
	background: -webkit-linear-gradient(top,  #503066 4%,#4c00af 16%,#4c00af 16%,#4c00af 34%,#5d448e 44%,#5d448e 56%,#6c2bad 65%);
	text-shadow: 2px 2px #503066;
	border:solid;
	border-top-color: purple;*/
}

audio {
	position: absolute;
	top:80%;
	bottom: 10%;
	left: 5%;
}

img {
	width: 200px;
	height: 200px;
	padding: 10px;
	border: 1px solid #CCC;
	box-shadow: 0px 0px 17px #BBB;
	margin:2px;

/*
	width: 150px;
	height: 200px;
	border:solid;
	border-radius: 1;*/
}
















/*body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(679140.png);
	background-size: 20%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	color: lime;
}
.div1 {
	color: lime;

}*/

