html { 
  background: url(R3cpQ9R.gif) responsive; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#titre {
  color: white;
}

@media (min-width: 481px) {
  #picblock {
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: contain ;
  }
}





/*------------------------Menu en css-------------------------*/
.topnav {
  overflow: hidden;
  background-color: #333;
}
#logo {
  width: 50px;
  display: block;
  padding: -10px -14px;
  margin-bottom: -6px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ed1c24;
  color: black;
}

.topnav a.active {
  background-color: #ed1c24;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*---------------------------------------------------------*/